* {
    box-sizing: border-box;
}

header {
    background-color: #5e879d;
    
    
}

/* styling header/img */
#logo {
    object-fit: contain;
    width: 100%;
    height: 500px;


    /* refer back to flexbox lesson */
}


/* styling image to to in center of screen */
#imageContainer {

    display: flex;
    justify-content: center;
    padding: 100px;


}

#catImg {
    /* border: 2px solid yellow; */
    object-fit: contain;
    height: 500px;
    
    
}



.btn-div {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    padding: 30px;

}

/* style button  */
#friend-btn {

    padding: 32px 16px;
    border-radius: 12px;
    border: 2px solid #08f7fb;
    font-size: 40px;


}

button:hover {
    background-color: palegreen;
    color: black;


}



nav {
    display: flex;
    /* border: 2px solid orange; */
    width: 100%;
    height: 50px;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    
    

}

/* style the nav buttons */
#adopt-btn {
    display: flex;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(175, 238, 195);
    font-size: 20px;
    
}

#cafe-btn {
    display: flex;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(175, 238, 195);
    font-size: 20px;
}

#catcare {
    display: flex;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(175, 238, 195);
    font-size: 20px;
}


body {
    background-color: whitesmoke;
}


/* media query for responsive design */
@media(max-width: 1080px) {
    img {
        width: 100%;
        height: auto;

    }

  #adopt-btn {
     display: flex;
     align-items: center;
      
  }

  #catcare {
      display: flex;
      align-items: center;
  }

  #cafe-btn {
      display: flex;
      align-items: center;
  }
}