
header {
    background-color: #5e879d;
    
    
}

/* styling header/img */
#logo {
    object-fit: contain;
    width: 100%;
    height: 500px;


    /* refer back to flexbox lesson */
}


/* styling image to to in center of screen */
#imageContainer {

    display: flex;
    justify-content: center;
    padding: 100px;
    /* border: 2px solid red; */
    
    


}

#catImg {
    /* border: 2px solid yellow; */
    object-fit: contain;
    height: 500px;
    /* position keeps button from moving to middle of page when img loads */
    position: absolute;

    
    
}



.btn-div {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    padding: 30px;
    margin-top: 500px;
  
   

}

/* style button  */
#friend-btn {

    padding: 32px 16px;
    border-radius: 12px;
    border: 2px solid #08f7fb;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    position: absolute;

}

button:hover {
    background-color: rgb(251, 249, 152);
    color: black;


}



nav {
    display: flex;
    /* border: 2px solid orange; */
    width: 100%;
    height: 50px;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 2px;
    background-color: paleturquoise;
    
    

}

/* style the nav buttons */
#adopt-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(218, 246, 227);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    
}
#adopt-btn:hover {
    background-color: rgb(251, 249, 152);
    color: black;


}


#cafe-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(218, 246, 227);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
#cafe-btn:hover {
    background-color: rgb(251, 249, 152);
    color: black;


}


#catcare {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: rgb(218, 246, 227);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
/* adds effect to buttons when mouse hovers over it */
#catcare:hover {
    background-color: rgb(251, 249, 152);
    color: black;


}


body {
    background-color: whitesmoke;
    
}


/* media query for responsive design */
@media(max-width: 1080px) {
    img {
        width: 100%;
        height: auto;

    }

  #adopt-btn {
     display: flex;
     align-items: center;
     
      
  }

  #catcare {
      display: flex;
      align-items: center;
  }

  #cafe-btn {
      display: flex;
      align-items: center;
  }
}